.profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-details {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 2em;
}

.user-name {
  color: white;
  border-bottom: 2px solid rgba(255, 160, 228, 1);
}

.profile-info {
  margin-top: 2rem;
  width: 100%;
}

.profile-text {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile-key-value {
  align-items: center;
  width: 90%;
  margin-left: 0.2rem;
}

.profile-text-key,
.profile-text-value {
  color: white;
  font-size: 1.2rem;
}

.profile-text-key {
  font-weight: 600;
  margin: 0;
}

.profile-text-value {
  margin: 0.3rem 0 2rem 0;
}

.games-collection {
  grid-column: 2;
  width: 90%;
  justify-self: end;
}

.games-collection h2 {
  color: white;
  font-size: 35px;
  border-bottom: 2px solid rgba(255, 160, 228, 1);
  margin-bottom: 10px;
}

.games-grid {
  margin-top: 2rem;
  height: 65vh;
  width: 30em;
  display: grid;
  grid-gap: 0.1em;
  overflow-y: auto;
}

.games-grid::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.games-grid:hover::-webkit-scrollbar {
  opacity: 1;
}

.games-grid::-webkit-scrollbar-thumb {
  background-color: #6a5b87;
}

@media (max-width: 980px) {
  .profile-page {
    display: flex;
    flex-direction: column;
  }

  .profile-details,
  .games-collection {
    width: 100%;
  }
}
