.game-modal {
  height: 100%;
  width: 100%;
}

.result-error {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}