.pill {
  background : #000000;
  background : rgba(0, 0, 0, 1);
  width : 10rem;
  height : 2rem;
  margin: 0 1rem;
  border-radius : 15px;
  -moz-border-radius : 15px;
  -webkit-border-radius : 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.2rem;
}

.pill-text {
  font-family: 'Avenir Next';
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 2rem;
  margin: 0;
}

.highlight {
  background : #802381;
}