.browser-header-title {
  font-family: "Avenir Next";
  font-size: 2rem;
  font-weight: 250;
  color: #ffffff;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin: 0;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid rgba(255, 160, 228, 1);
  width: 100%;
}

.browser-header-no-margin {
  margin-top: 0;
}
