.button {
  background: rgb(144, 29, 111) !important;
  opacity: 0.9;
  border-radius: 14px;
  border: none;
  overflow: hidden;
  margin: 5rem;
  text-shadow: 1px 1px 1px #802381;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
  color: rgb(241, 241, 241) !important;
}

.button-disabled {
  background-color: #cccccc !important;
  color: #808080 !important;
  cursor: not-allowed !important;
  text-shadow: none !important;
}

.form-button {
  width: 50%;
  margin: 0;
}

.button:hover {
  animation: glowing 2s infinite;
}

.welcome-button {
  width: 15rem;
  height: 3.5rem;
}

.ai-submit {
  margin-left: 2rem !important;
  width: 8rem !important;
  height: 5rem !important;
  border-radius: 12px !important;
}

.game-modal-btn {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0 !important;
}

.add-game-btn {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0 !important;
  font-size: 0.9rem !important;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 2px rgb(227, 225, 225);
  }
  50% {
    box-shadow: 0 0 15px 2px rgb(227, 225, 225);
  }
  100% {
    box-shadow: 0 0 2px rgb(227, 225, 225);
  }
}
