.button {
  background: rgba(255, 160, 228, 1) !important;
  opacity: 0.9;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  margin: 5rem;
  text-shadow: 1px 1px 1px #802381
}

.button-disabled {
  background-color: #cccccc;
  color: #808080;
  cursor: not-allowed;
}

.form-button {
  width: 100%;
  margin: 0;
}

.button:hover {
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fefefe;
  }
  50% {
    box-shadow: 0 0 30px 5px #fefefe;
  }
  100% {
    box-shadow: 0 0 5px #fefefe;
  }
}
