.description-header,
.description-text {
  color: #fefefe;
}

.description-header {
  font-size: 1.75em;
  font-weight: 300;
  margin-bottom: 0em;
}

.description-text {
  font-size: 1em;
  font-weight: 300;
}

.description-line {
  border-color: #ffa0e4;
}

.description-wrapper {
  width: 100%;
}
