.description-header,
.description-text,
.description-drop-down,
.attendee-header {
  color: #fefefe;
}

.description-drop-down {
  font-size: 1.5rem;
}

.description-header,
.attendee-header {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0em;
}

.description-text {
  font-size: 1em;
  font-weight: 300;
}

.description-line {
  border-color: #ffa0e4;
}

.description-wrapper {
  width: 100%;
}

.map-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-accordion {
  border-bottom: 1px solid #ffa0e4;
}

.scroll-wrapper {
  max-height: 14em;
  overflow-y: auto;
}
