.event-title, .event-date, .event-time {
  color: #FEFEFE;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.event-title {
  font-size: 4em;
  margin-bottom: 0em;
}

.event-date {
  font-size: 1.75em;
  margin-bottom: .5em;
  font-weight: 400;
}

.event-time {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 200;
}