.event-title, .event-date, .event-time {
  color: #FEFEFE;
}

.event-title {
  font-size: 3.5em;
  margin: 0em;
}

.event-date {
  font-size: 1.5em;
  margin-bottom: .5em;
  font-weight: 400;
}

.event-time {
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: 200;
}